#set ($searchParamUrl = "searchParamUrl=$!esc.url($searchParam.searchParamUrl)")
<script language="javascript" type="text/javascript">
// 수정
function f_update() {
    var oForm = document.forms["writeForm"];
	oForm.adMuCode.value = oForm.adMenu2;
	if(!gf_validation(oForm)) {
		return;
	}
	
	if(confirm("$!info.brdTypeNm정보를 수정하시겠습니까?")) {
		$("#writeForm").attr("action","finalmenu_mng_update_proc.jsp");
		$("#writeForm input[name=redirectUrl]").val("menu_view_final.jsp?pppk=$!searchParam.pppk&ppMenu3=$!searchParam.ppMenu3&ppPcode=$!searchParam.ppPcode&ppk=$!searchParam.ppk&pMenu3=$!searchParam.pMenu3&pPcode=$!searchParam.pPcode&pk=$!searchParam.pk&menu3=$!searchParam.menu3&pcode=$!searchParam.pcode");
		gSubmitPost("writeForm",true);
	}
}



// 삭제
function f_delete() {
	if(confirm("$!info.brdTypeNm정보를 삭제하시겠습니까?")) {
		$("#writeForm").attr("action","finalmenu_delete_proc.jsp");
		$("#writeForm input[name=redirectUrl]").val("submenu_view_nFlist.jsp?ppk=$!searchParam.pppk&pMenu1=$!searchParam.ppMenu1&pMenu3=$!searchParam.ppMenu3&pPcode=$!searchParam.ppPcode&pk=$!searchParam.ppk&menu1=$!searchParam.pMenu1&menu3=$!searchParam.pMenu3&pcode=$!searchParam.pPcode&");

		gSubmitPost("writeForm");
	}
}

function callbackFunc() {
	document.getElementById("attFile").style.display="none";
}
</script>
<div class="right_content">
<form id="writeForm" name="writeForm" method="post">
	<input type="hidden" name="redirectUrl" value=""/>
	<input type="hidden" name="mode" value="update"/>
	<input type="hidden" name="brdNum" id="brdNum" value="$!info.brdNum"/>
	<input type="hidden" name="brdType" value="$!info.brdType" />
	<input type="hidden" name="adMuNum" 		value="$!searchParam.pk" />
	<input type="hidden" name="adUpdId" 		value="$!SessionUtils.getAdminId($request)" />
	<input type="hidden" name="adMuCode" id="adMuCode" value="" />
	<!--
	<input type="hidden" name="brdUpdId" value="$!SessionUtils.getUserId($request)" />
	<input type="hidden" name="brdUpdNm" value="$!SessionUtils.getUserName($request)" />
	-->
	<input type="hidden" name="attFileNo" id="attFileNo" value="$!attFileInfos.ATT1.attFileNo"/>
	
	
	<div class="t_icon">$!info.brdTypeNm 소메뉴수정 <div class="r_txt"><div class="navi">Home &gt; 홈페이지관리 &gt; <strong>$!info.brdTypeNm 소메뉴수정</strong></div></div></div>
	<table cellpadding="0" cellspacing="0" class="write_table02" width="100%">
		<col width="15%" />
		<col width="35%" />
		<col width="15%" />
		<col width="35%" />
		<tr>
			<th>소메뉴명</th>
			<td>
				<input type="text" name="adMuTitle" value="$!info.adMuTitle" class="login02_input" style="width:90%; height:18px;ime-mode:active" />
			</td>
			<th>메모</th>
			<td>
				<input type="text" name="adMuMemo" value="$!info.adMuMemo" class="login02_input" style="width:90%; height:18px;ime-mode:active" />
			</td>
		</tr>
		<tr>
			<th>메뉴URL</th>
			<td colspan="3">
				<input type="text" name="adMuUrl" value="$!info.adMuUrl" class="login02_input" style="width:96%; height:18px;ime-mode:active" />
			</td>
		</tr>
		<tr>
			<th>사용유무</th>
			<td>
				<input type="radio" name="adUseYn" required radio value="Y" #setChecked("$!info.adUseYn", "Y") id="lab01" checked/> <label for="lab01">Y</label>&nbsp;&nbsp;
				<input type="radio" name="adUseYn" value="N" #setChecked("$!info.adUseYn", "N") id="lab02"/> <label for="lab02">N</label>
			</td>
			<th>순번</th>
			<td >
				<input type="text" name="adMuOdr" value="$!info.adMuOdr" required alt="메뉴순번" class="login02_input" style="width:90%; height:18px;ime-mode:active" onkeydown="gf_num_only();" maxlength="2"/>
			</td>
        </tr>

	</table>
	<div class="sys_btn">
		<a href="menu_view_final.jsp?
			pppk=$!searchParam.pppk&
			ppMenu3=$!searchParam.ppMenu3&
			ppPcode=$!searchParam.ppPcode&
			ppk=$!searchParam.ppk&
			pMenu3=$!searchParam.pMenu3&
			pPcode=$!searchParam.pPcode&
			pk=$!searchParam.pk&
			menu3=$!searchParam.menu3&
			pcode=$!searchParam.pcode"><img src="/admin/img/btn_cancel.gif" alt="취소" /></a>
		<a href="javascript:f_update();"><img src="/admin/img/btn_modi.gif" alt="수정" /></a>
		<a href="javascript:f_delete();"><img src="/admin/img/btn_del.gif" alt="삭제" /></a>
		##<a href="menu_mng_list.jsp?$!searchParam.searchParamUrl"><img src="/admin/img/btn_list.gif" alt="목록" /></a>
	</div>
</form>
</div>
