#set ($searchParamUrl = "searchParamUrl=$!esc.url($searchParam.searchParamUrl)")
<script language="javascript" type="text/javascript">
// 수정
function f_update() {
    var oForm = document.forms["writeForm"];

	if(!gf_validation(oForm)) {
		return;
	}

// 주요일정
#if ($!searchParam.brdType=="SCH")
	var brdStartDt = oForm.brdStartDt.value;
	var brdEndDt = oForm.brdEndDt.value;

	if(brdEndDt != "") {
		if(!gf_ranageData(brdStartDt, brdEndDt)) {
			alert("일정종료일자가 일정시작일자보다 이전입니다.");
			oForm.brdStartDt.focus();
			return;
		}
	}
#end

#if ($!info.brdStep == 0)
	#if ($!info.brdType=="QNA" || $!info.brdType=="PUB" || $!info.brdType=="CRTREPORT" || $!info.brdType=="IMPRVPPS")
		oForm.brdOpenYn.value = getRadioValue(oForm.tmpBrdOpenYn);
	#end
#end


// 메일주소체크
	var staffEmail = joinInputArr(oForm.tmpStaffEmail, "@");

	if(staffEmail =="@") {
		staffEmail = "";
	}

	if(staffEmail != "") {
		if(!gf_validEmail(staffEmail )) {
			alert("올바른 메일 형식으로 입력해주세요. (예:koddi@koddi.com)");
			oForm.tmpStaffEmail[0].focus();
			return;
		}
	}
	// 비밀번호검증
	if(oForm.adStaffPwd.value != oForm.tempAdStaffPwd.value) {
        alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
        oForm.adStaffPwd.select();
        return;
	}
	
	oForm.adStaffTelNo.value = joinInputArr(oForm.tmpStaffTelNo, "-");
	oForm.adStaffEmail.value = staffEmail ;
	
	if(confirm("$!info.brdTypeNm정보를 수정하시겠습니까?")) {
		$("#writeForm").attr("action","staff_update_proc.jsp");
		$("#writeForm input[name=redirectUrl]").val("staff_mng_view.jsp?adStaffNo=$!info.adStaffNo&$!searchParamUrl");

		gSubmitPost("writeForm",true);
	}
}
// 이메일선택시
function f_selEmail(aData) {
	document.getElementById("tmpStaffEmailA").value = aData;
}



// 삭제
function f_delete() {
	if(confirm("$!info.brdTypeNm정보를 삭제하시겠습니까?")) {
		$("#writeForm").attr("action","staff_delete_proc.jsp");
		$("#writeForm input[name=redirectUrl]").val("staff_mng_list.jsp?$!searchParam.searchParamUrl");

		gSubmitPost("writeForm");
	}
}

// 첨부파일삭제
function f_del_file(attFileNo) {
	if(confirm("첨부파일을 삭제하시겠습니까?")) {
		gSendPost("hp_board_file_delete_proc.jsp", {attFileNo: attFileNo, callback: "callbackFunc"});
	}
}

function callbackFunc() {
	document.getElementById("attFile").style.display="none";
}
</script>
<div class="right_content">
<form id="writeForm" name="writeForm" method="post">
	<input type="hidden" name="redirectUrl" value=""/>
	<input type="hidden" name="mode" value="update"/>
	<input type="hidden" name="brdNum" id="brdNum" value="$!info.brdNum"/>
	<input type="hidden" name="brdType" value="$!info.brdType" />
	<input type="hidden" name="brdGrpIdx" value="$!info.brdGrpIdx" />
	<input type="hidden" name="brdOpenYn" value="$!info.brdOpenYn" />
	
	<input type="hidden" name="adStaffNo" 		value="$!info.adStaffNo" />
	<input type="hidden" name="adUpdId" 		value="$!SessionUtils.getAdminId($request)" />
	<input type="hidden" name="adStaffLevel" 	value="$!info.adStaffLevel" />
	<input type="hidden" name="adOpenYn" 		value="$!info.adOpenYn" />
	<input type="hidden" name="adStaffDuty" 	value="$!info.adStaffDuty" />
	
	<!--
	<input type="hidden" name="brdUpdId" value="$!SessionUtils.getUserId($request)" />
	<input type="hidden" name="brdUpdNm" value="$!SessionUtils.getUserName($request)" />
	-->
	<input type="hidden" name="attFileNo" id="attFileNo" value="$!attFileInfos.ATT1.attFileNo"/>
	
	<input type="hidden" name="adStaffTelNo" id="adStaffTelNo" value="$!info.adStaffTelNo"/>
	<input type="hidden" name="adStaffEmail" id="adStaffEmail" value="$!info.adStaffEmail"/>
	
	
	<div class="t_icon">$!info.brdTypeNm 수정 <div class="r_txt"><div class="navi">Home &gt; 홈페이지관리 &gt; <strong>$!info.brdTypeNm</strong></div></div></div>
	<table cellpadding="0" cellspacing="0" class="write_table02" width="100%">
		<col width="15%" />
		<col width="35%" />
		<col width="15%" />
		<col width="35%" />
		<tr>
			<th>아이디</th>
			<td colspan="3">$!info.adStaffId</td>
		</tr>
		<tr>
			<th>부서</th>
			<td>
				<input type="text" name="adStaffDept" value="$!info.adStaffDept" class="login02_input" style="width:80%; height:18px;ime-mode:active" />
			</td>
			<th>직급</th>
			<td >
				<input type="text" name="adStaffJobtitl" value="$!info.adStaffJobtitl" required alt="직급" class="login02_input" style="width:80%; height:18px;ime-mode:active" />
			</td>
		</tr>
		<tr>
			<th>이름</th>
			<td>
				<input type="text" name="adStaffNm" value="$!info.adStaffNm" required alt="이름" class="login02_input" style="width:80%; height:18px;ime-mode:active" />
			</td>
			<th>전화번호</th>
			<td >
#set ($__tmp = "")
#set ($__tmp = $StringUtils.split($!info.adStaffTelNo, "-"))
				#genCodeSelect("C017", "", "tmpStaffTelNo", "$!list.get($__tmp, 0)", "required title='전화번호' class='select' style='width:120px; height:23px;'", "전화번호선택")
				<input type="text" name="tmpStaffTelNo" value="$!list.get($__tmp, 1)" maxlength="4" onkeydown="gf_num_only();" required alt="전화번호" class="login02_input" style="width:80px; height:18px;ime-mode:disabled" />
				<input type="text" name="tmpStaffTelNo" value="$!list.get($__tmp, 2)" maxlength="4" onkeydown="gf_num_only();" required alt="전화번호" class="login02_input" style="width:80px; height:18px;ime-mode:disabled" />
			</td>
		</tr>
		<tr>
			<th>E-mail</th>
			<td colspan="3">
#set ($__tmp = "")
#set ($__tmp = $StringUtils.split($!info.adStaffEmail, "@"))
				<input type="text" name="tmpStaffEmail" maxlength="20" alt="이메일" value="$!list.get($__tmp, 0)" class="login02_input" style="width:150px; height:18px;ime-mode:disabled" /> @
				<input type="text" name="tmpStaffEmail" id="tmpStaffEmailA" maxlength="30" alt="이메일" value="$!list.get($__tmp, 1)" class="login02_input" style="width:150px; height:18px;ime-mode:disabled" />
				#genCodeSelect("C005", "", "selEmail", "", "onchange='f_selEmail(this.value)' class='select' style='width:150px; height:23px;'", "이메일선택")

				<!--
				<input type="text" name="adStaffEmail" value="$!info.adStaffEmail" required alt="E-mail" class="login02_input" style="width:80%; height:18px;ime-mode:active" />
				--> 
			</td>
		</tr>
		<tr>
			<th>비밀번호</th>
			<td>
				<input type="password"  name="adStaffPwd" value="" required alt="비밀번호" class="login02_input" style="width:80%; height:18px;ime-mode:active" />
			</td>
			<th>비밀번호 확인</th>
			<td >
				<input type="password"  name="tempAdStaffPwd" value="" class="login02_input" style="width:80%; height:18px;ime-mode:active" />
			</td>
		</tr>
		<tr>
			<th>권한</th>
			<td>
				#genCodeSelect("ORG_ROLE", "", "adStaffAuth", "$!info.staffAuth", "id='orgDepth' required title='권한선택' class='select' style='width:200px; height:23px;'", "권한선택")
			</td>
        </tr>

	</table>
	<div class="sys_btn">
		<a href="staff_mng_view.jsp?adStaffNo=$!info.adStaffNo&$!searchParamUrl"><img src="/admin/img/btn_cancel.gif" alt="취소" /></a>
		<a href="javascript:f_update();"><img src="/admin/img/btn_modi.gif" alt="수정" /></a>
		<a href="javascript:f_delete();"><img src="/admin/img/btn_del.gif" alt="삭제" /></a>
		<a href="staff_mng_list.jsp?$!searchParam.searchParamUrl"><img src="/admin/img/btn_list.gif" alt="목록" /></a>
	</div>
</form>
</div>
