#makeSearchParams($searchParam, "orgCd,pos,limit,sortOrder", $searchParamUrl)
#set ($searchParamUrl = "searchParamUrl=$!esc.url($searchParamUrl)")
#set ($__brdTypeNm = $!CodeUtils.getCodeValue("BRDTP", $!searchParam.brdType))
<script language="javascript">
<!--
$(document).ready(function(){
	$(".submit").keydown(function(e) {
		if (e.keyCode == 13) {
			e.preventDefault();
			f_search();
		}
	});
});

function goPage(p) {
	$("#searchForm input[name=page]").val(p);
	$("#searchForm").submit();
}

// 조회
function f_search() {
	$("#searchForm input[name=selBrdProgSt]").val($("#tmpForm select[name=selBrdProgSt]").val());
	$("#searchForm input[name=searchType]").val($("#tmpForm select[name=searchType]").val());
	$("#searchForm input[name=searchKeyword]").val($("#tmpForm input[name=searchKeyword]").val());
	$("#searchForm input[name=page]").val(1);
	$("#searchForm").submit();
}
-->
</script>
<div class="right_content">
<form id="searchForm" action="hp_board_list.jsp" method="post">
	<input type="hidden" name="selBrdProgSt" value="$!searchParam.selBrdProgSt"/>
	<input type="hidden" name="searchType" value="$!searchParam.searchType"/>
	<input type="hidden" name="searchKeyword" value="$!searchParam.searchKeyword"/>
	<input type="hidden" name="brdType" value="$!searchParam.brdType"/>
	<input type="hidden" name="page" value="$!searchParam.page"/>
	<input type="hidden" name="pageSize" value="$!searchParam.pageSize"/>
</form>
<form id="tmpForm">
	<input type="hidden" name="page" value="$!searchParam.page"/>
	<input type="hidden" name="pageSize" value="$!searchParam.pageSize"/>
	<div class="t_icon">$__brdTypeNm <div class="r_txt"><div class="navi">Home &gt; 통계 &gt; <strong>$__brdTypeNm</strong></div></div></div>
	<table cellpadding="0" cellspacing="0" width="1060" class="write_table">
				<col width="10%" />
				<col width="23%" />
				<col width="10%" />					
					<tr>
						<th>접속일자</th>
						<td>
							<div style="margin-right:10px; float:left;">
								<input type="text" class="login02_input datepicker submit" name="evlDtFrom" value="$!DateUtils.getTime($!searchParam.evlDtFrom, "yyyyMMdd", "yyyy-MM-dd")" readonly style="width:80px; height:18px;" />
								~
								<input type="text" class="login02_input datepicker submit" name="evlDtTo" value="$!DateUtils.getTime($!searchParam.evlDtTo, "yyyyMMdd", "yyyy-MM-dd")" readonly style="width:80px; height:18px;" />
							</div>
						</td>
				</table>
				<div class="c_btn"><a href="javascript:searchByKeyword()"><img src="/admin/img/sh_s_btn.gif" alt="검색" /></a></div>
				<div class="tc_box">
					<div class="l_box">총 <strong>$!pageInfo.totalCount</strong>개의 내용이 등록되어 있습니다.</div>
	</div>
	<table cellpadding="0" cellspacing="0" class="line_type02" width="100%">
		<col width="50%" />
		<col width="20%" />
		<col width="30%" />
		
		
		<tr>
			<th>접속전 도메인</th>
			<th>접속수</th>
			<th>상세정보</th>
			
		</tr>
#set ($__term = 7)
#foreach($__info in $infos)
	#set ($__tmpNo = $pageInfo.totalCount - ($pageInfo.page - 1) * $pageInfo.pageSize - $velocityCount + 1)
	#if ($velocityCount % 2 == 1)
		<tr class="g_td">
	#else
		<tr>
	#end
			<td>$!__tmpNo</td>
			<td>$!__info.adMuCode</td>
			<td>
				<strong><a href="/">$!__info.adMuTitle</a></strong>
			</td>
			<td>$!__info.adMuMemo</td>
			<td>$!__info.adMuUrl</td>
		</tr>
#end
	</table>
	<div class="paging_box">
		#makePaging1($pageInfo)		
	</div>
</form>
</div>