#makeSearchParams($searchParam, "orgCd,pos,limit,sortOrder", $searchParamUrl)
#set ($searchParamUrl = "searchParamUrl=$!esc.url($searchParamUrl)")
#set ($__brdTypeNm = $!CodeUtils.getCodeValue("BRDID", $!searchParam.brdType))
<script language="javascript">
<!--
$(document).ready(function(){
	$(".submit").keydown(function(e) {
		if (e.keyCode == 13) {
			e.preventDefault();
			f_search();
		}
	});
});

function goPage(p) {
	$("#searchForm input[name=page]").val(p);
	$("#searchForm").submit();
}

// 조회
function f_search() {
	$("#searchForm input[name=selBrdProgSt]").val($("#tmpForm select[name=selBrdProgSt]").val());
	$("#searchForm input[name=searchType]").val($("#tmpForm select[name=searchType]").val());
	$("#searchForm input[name=searchKeyword]").val($("#tmpForm input[name=searchKeyword]").val());
	$("#searchForm input[name=page]").val(1);
	$("#searchForm").submit();
}
-->
</script>
<div class="right_content">
<form id="searchForm" action="hp_board_list.jsp" method="post">
	<input type="hidden" name="selBrdProgSt" value="$!searchParam.selBrdProgSt"/>
	<input type="hidden" name="searchType" value="$!searchParam.searchType"/>
	<input type="hidden" name="searchKeyword" value="$!searchParam.searchKeyword"/>
	<input type="hidden" name="brdType" value="$!searchParam.brdType"/>
	<input type="hidden" name="page" value="$!searchParam.page"/>
	<input type="hidden" name="pageSize" value="$!searchParam.pageSize"/>
</form>
<form id="tmpForm">
	<input type="hidden" name="page" value="$!searchParam.page"/>
	<input type="hidden" name="pageSize" value="$!searchParam.pageSize"/>
	<div class="t_icon">$__brdTypeNm <div class="r_txt"><div class="navi">Home &gt; 게시판관리 &gt; <strong>$__brdTypeNm</strong></div></div></div>
	<div class="tc_box02">
		<div class="l_box">총 <strong>$!pageInfo.totalCount</strong>개의 내용이 등록되어 있습니다.</div>
		<div class="r_box">
			<div style=" margin-right:10px; margin-top:2px; float:left;">
<!-- 상담실 -->
#if ($!searchParam.brdType=="QNA")
				진행단계 : #genCodeSelect("C060", "", "selBrdProgSt", "$!searchParam.selBrdProgSt", "id='selBrdProgSt' class='select' style='width:100px; height:20px;'", "전체")&nbsp;
#end
				<select name="searchType" class="select" style="width:100px; height:20px;">
					<option value="BRD_TITLE" #if ($!searchParam.searchType=="BRD_TITLE") selected #end>제목</option>
					<option value="BRD_MEMO" #if ($!searchParam.searchType=="BRD_MEMO") selected #end>내용</option>
					<option value="BRD_ALL" #if ($!searchParam.searchType=="BRD_ALL") selected #end>제목+내용</option>
				</select>
			</div>
			<div >
				<input type="text" name="searchKeyword" value="$!searchParam.searchKeyword" class="login02_input submit" style="width:150px; height:17px;" />&nbsp;&nbsp;&nbsp;
				<a href="javascript:f_search();"><img src="/admin/img/sh_s_btn.gif" style="margin-bottom:-6px;" alt="검색" /></a>
			</div>
		</div>
	</div>
	<table cellpadding="0" cellspacing="0" class="line_type02" width="100%">
		<col width="5%" />
<!-- 보도자료,상담실 -->
#if ($!searchParam.brdType=="NOT" || $!searchParam.brdType=="RSH" || $!searchParam.brdType=="QNA")
		<col width="10%" />
	<!-- 상담실 -->
	#if ($!searchParam.brdType=="QNA")
		<col width="40%" />
	#else
		<col width="50%" />
	#end
#else
	<!-- 주요일정 -->
	#if ($!searchParam.brdType=="SCH")
		<col width="40%" />
		<col width="20%" />
	#else
		<col width="60%" />
	#end
#end

		<col width="10%" />
		<col width="10%" />
<!-- 상담실 -->
#if ($!searchParam.brdType=="QNA")
		<col width="10%" />
#end
		<col width="5%" />
		<col width="10%" />
		<tr>
			<th>번호</th>
<!-- 공지사항,연구보고서,상담실 -->
#if ($!searchParam.brdType=="NOT" || $!searchParam.brdType=="RSH" || $!searchParam.brdType=="QNA")
				<th>구분</th>
#end
			<th>제목</th>
<!-- 주요일정 -->
#if ($!searchParam.brdType=="SCH")
			<th>기간</th>
#end
			<th>등록자</th>
			<th>등록일</th>
<!-- 상담실 -->
#if ($!searchParam.brdType=="QNA")
			<th>진행단계</th>
#end
			<th>조회수</th>
			<th>첨부파일</th>
		</tr>
#set ($__term = 7)
#foreach($__info in $infos)
	#set ($__tmpNo = $pageInfo.totalCount - ($pageInfo.page - 1) * $pageInfo.pageSize - $velocityCount + 1)
	#if ($velocityCount % 2 == 1)
		<tr class="g_td">##</tr>
	#else
		<tr>
	#end
			<td>$!__tmpNo</td>
<!-- 공지사항,연구보고서,상담실 -->
#if ($!searchParam.brdType=="NOT" || $!searchParam.brdType=="RSH" || $!searchParam.brdType=="QNA")
			<td>$!__info.brdTpNm</td>
#end
			<td class="subject">
#if ($!__info.brdStep > 0)
	#set ($__mLeft = (10 * $!__info.brdStep) + "px")
				<img src="/admin/img/re_icon.gif" align="absbottom" style="margin-left:$!__mLeft" />
#end
				<strong><a href="hp_board_view.jsp?readCnt=1&brdNum=$!__info.brdNum&$!searchParamUrl">$!__info.brdTitle</a></strong>
#if ($!__info.replyCnt > 0)
				<strong class="or_txt">[$!__info.replyCnt]</strong>&nbsp;
#end
#if ($!__info.brdOpenYn=="N")
				<img src="/admin/img/lock_icon.gif" align="absmiddle" />&nbsp;
#end
#if ($DateUtils.getDiffDay($!__info.regTm, $DateUtils.getCurrentTime(), "yyyyMMddHHmmss") <= $__term)
				<img src="/admin/img/icon_new.gif" align="absmiddle" />
#end
			</td>
<!-- 주요일정 -->
#if ($!searchParam.brdType=="SCH")
			<td>
				#if ("$!__info.brdStartDt" != "")
					$!DateUtils.getTime($!__info.brdStartDt, "yyyyMMdd", "yyyy-MM-dd")

					#if ("$!__info.brdEndDt" != "")
						~ $!DateUtils.getTime($!__info.brdEndDt, "yyyyMMdd", "yyyy-MM-dd")
					#end
				#else
					&nbsp;
				#end
			</td>
#end
			<td>$!__info.brdRegNm</td>
			<td>$!DateUtils.getTime($!__info.regTm, "yyyyMMddhhmmss", "yyyy-MM-dd")</td>
<!-- 상담실 -->
#if ($!searchParam.brdType=="QNA")
			<td>$!__info.brdProgStNm</td>
#end
			<td>$!__info.brdReadCnt</td>
			<td>
			#if ($!__info.attFileTp=="")
				&nbsp;
			#else
				<a href="#downloadPath2($!__info.attTableNm, $!__info.attFileTp, $!__info.attSaveFileNm, $!__info.attOrgFileNm, $!__info.attSaveFilePath)" class="down_file"><img src="/admin/img/icon_file.gif" alt="첨부파일다운" /></a>
			#end
			</td>
		</tr>
#end
	</table>
	<div class="paging_box">
		#makePaging1($pageInfo)
		<div class="pr_btn"><a href="hp_board_write.jsp?brdType=$!searchParam.brdType&brdTypeNm=$__brdTypeNm&$!searchParamUrl"><img src="/admin/img/btn_write.gif" alt="등록" /></a></div>
	</div>
</form>
</div>
